body {
    margin: 0;
}

/* Formulaire humeur */

    /* Fond transparent pour eviter de cliquer sur la page */
#humeur{
	z-index: 10;
	width: 100%;
	height: 653px;
	background: rgba(0, 0, 0, 0.3);
}
    /* Fin fond transparent pour eviter de cliquer sur la page */

#formulaire{
	width: 500px;
	height: 400px;
	position: absolute;
	top: 100px;
	left: 400px;
	background-color: gray;
}

.icones{
    width: 70px;
    height: 70px;
    margin-top: 30px;
}

#soleil{
    margin-left: 30px;
}

#commentaire{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 95px;
}

#valider{
	width: 100px;
	position: absolute;
	top: 350px;
	left: 40%;
}

/* Fin formulaire humeur */

/* Menu du haut */

#logo {
	z-index: -1;
    width: 20%;
    height: 70px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
}

#date {
	z-index: -1;
    width: 20%;
    height: 70px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 20%;
    background-color: yellow;
}

#titre {
	z-index: -1;
    width: 30%;
    height: 70px;
    text-align: center;
    position: absolute;	
    top: 0;
    left: 40%;
    background-color: red;
}

#deconnexion {
	z-index: -1;
    width: 10%;
    height: 35px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 20%;
    background-color: gray;
}

#modifier {
	z-index: -1;
    width: 10%;
    height: 35px;
    text-align: center;
    position: absolute;
    top: 35px;
    right: 20%;
    background-color: purple;
}

#profil {
	z-index: -1;
    width: 5%;
    height: 70px;
    position: absolute;
    top: 0;
    right: 15%;
    background-color: blue;
}

#n_p {
	z-index: -1;
    width: 15%;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: orange;
}

/* Fin menu du haut */

/* Menu latéral droit */

#menu_lat_gauche {
	z-index: -1;
    width: 20%;
    height: 89%;
    text-align: center;
    position: absolute;
    top: 70px;
    right: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 10% 10% 30% 30%;
    background-color: pink;
}

/* Fin menu latéral droit */